<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>contentServlet</servlet-name>
        <servlet-class>com.github.jjYBdx4IL.maven.examples.aspectj.ContentServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>contentServlet</servlet-name>
        <url-pattern>/content</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>servletWithTxSupport</servlet-name>
        <servlet-class>com.github.jjYBdx4IL.maven.examples.aspectj.tx.TxServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletWithTxSupport</servlet-name>
        <url-pattern>/tx</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>servletWithWeavedFieldAccess</servlet-name>
        <servlet-class>com.github.jjYBdx4IL.maven.examples.aspectj.fieldaccess.FieldAccessServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>servletWithWeavedFieldAccess</servlet-name>
        <url-pattern>/fieldAccess</url-pattern>
    </servlet-mapping>
</web-app>
