<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="true" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                 http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- Default page to serve -->
<!--     <welcome-file-list> -->
<!--         <welcome-file>index.html</welcome-file> -->
<!--     </welcome-file-list> -->
<!--     <context-param> -->
<!--         <param-name>gwt.xsrf.session_cookie_name</param-name> -->
<!--         <param-value>JSESSIONID</param-value> -->
<!--     </context-param> -->
    <!-- REST -->
    <servlet>
        <servlet-name>Jersey REST Service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>com.github.jjYBdx4IL.cms.rest</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey REST Service</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <!-- jetty session stuff -->
    <session-config>
        <session-timeout>1440</session-timeout>
    </session-config>
    <!-- don't show exceptions to remote -->
    <error-page>
        <error-code>500</error-code>
        <location>/error.html</location>
    </error-page>
    <resource-ref>
        <res-ref-name>jdbc/url</res-ref-name>
        <res-type>java.lang.String</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
